@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;

}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
a,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    font-family: 'Montserrat', sans-seri;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;

}

a {
    text-decoration: none;
}

// a {
//   text-decoration: none;
//   font-family: 'PT Sans Caption', sans-serif;
// }

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after, .swiper-button-next::after, .swiper-button-prev::after{
    display: none;
}

.container_left {
    margin-right: calc(50% - 645px);
    width: calc(50% + 645px);
}

.container_right {
    margin-left: calc(50% - 645px);
    width: calc(50% + 645px);
    //    background-color: #5ABBFF;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

}



header {
    padding-top: 45px;
    padding-bottom: 45px;

    // background: ;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo_block {
        display: flex;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        color: #000000;

        svg {
            margin-right: 30px;
        }

    }

    .burger_menu {
        display: flex;
        align-items: center;

        .burger_sign {
            margin-right: 18px;
        }
    }

    .burger {
        z-index: 2;
        position: relative;
        height: 24px;
        width: 80px;
        transition: ease 300ms;
        cursor: pointer;

        span {
            position: absolute;
            display: block;
            background: #000000;
            height: 4px;
            left: 0;
            transition: ease 300ms;

            &:nth-child(1) {
                width: 80px;


                top: 0;

            }

            &:nth-child(2) {
                width: 60px;
                top: calc(50% - 2px);

            }

            &:nth-child(3) {
                width: 40px;
                bottom: 0;
            }
        }

        .burger_sign {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */

            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;

            color: #000000;
        }
    }


}


.menu_hiden {
    z-index: 2;
    overflow-y: auto;

    position: absolute;
    bottom: 150%;

    top: -150%;

    right: 0;
    left: 50%;
    // width: 50%;
    background: #14273C;
    transition: ease 300ms;

    &.show {
        top: 0;
        bottom: 0;
    }

    padding-top: 70px;

    menu {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .item_menu {
        padding-left: 60px;

    }

    .item_wrapper {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        transition: ease 300ms;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -60px;
            top: 0;
            bottom: 0;
            width: 6px;
            background: #D63C16;
            transition: 300ms ease;
            opacity: 0;
        }

        &.active {
            &::before {

                opacity: 1;
            }
        }

        a {
            transition: 300ms ease;
        }

        .open_submenu {
            margin-left: 20px;
            display: flex;

            cursor: pointer;
            transition: 300ms ease;
            transform: rotate(180deg);

            &.active {
                transform: rotate(0deg);
            }


        }

        &:hover {
            color: #5ABBFF;

            a {
                color: #5ABBFF;
            }
        }




    }

    .submenu {
        // display: none;
        position: absolute;
        top: -500px;
        // z-index: -9;
        transition: ease 300ms;
        opacity: 1;
        display: flex;
        flex-direction: column;

        &.show {
            // display: block;
            position: static;
            // top: 0;
            margin-top: 20px;
            opacity: 1;

            // z-index: 0;
            a {

                margin-bottom: 14px;

                &:last-child {
                    margin-bottom: 35px;
                }
            }
        }

        a {

            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.06em;
            text-transform: uppercase;

            color: #FFFFFF;

            transition: ease 300ms;

            &:hover {
                color: #5ABBFF;
            }
        }
    }

    a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.06em;
        text-transform: uppercase;


        color: #FFFFFF;
    }
}

body {
    &.menu_open {
        overflow: hidden;

        header .burger.show {
            span {
                position: absolute;
                display: block;
                background: #FFFFFF;
                height: 4px;
                left: 0;

                &:nth-child(1) {
                    width: 30px;
                    transform: rotate(45deg);
                    top: 10px;

                }

                &:nth-child(2) {
                    width: 0px;
                    height: 0px;
                    top: calc(50% - 2px);

                }

                &:nth-child(3) {
                    width: 30px;
                    bottom: 10px;
                    transform: rotate(-45deg);
                }
            }
        }

    }
}

.swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
    background: #14273B;
    position: static;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    background: #7E91A7;
}

.bold_txt {
    font-weight: 700;
}

.main {
    height: 640px;

    .container_right {
        height: 100%;
    }

    .swiper {
        height: 100%;
    }

    .swiper-slide {
        background-color: #FFFFFF;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        .text_part {
            width: 630px;

            .title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 64px;
                color: #000000;
                margin-bottom: 40px;
            }

            .subtitle {
                font-family: Montserrat;
                font-style: normal;
                // font-weight: bold;
                font-size: 18px;
                line-height: 26px;
                /* or 144% */


                color: #000000;
            }


        }

        .img_part {
            width: calc(100% - 660px);
            height: 100%;

            img {
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }

    }

    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: auto;
        position: static;
    }

    .block_pagination {
        position: absolute;
        height: 60px;
        // top: 50%;
        bottom: 10%;
        left: 0%;
        z-index: 1;
        width: 500px;
        display: flex;
    }

    .swiper-button-prev {
        margin-right: 12px;
    }

    .swiper-button-next {
        margin-right: 60px;
    }

    .swiper-pagination {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        /* identical to box height */

        // letter-spacing: 0.06em;
        letter-spacing: -4px;
        text-transform: uppercase;

        color: #000000;

        span {
            &:first-child {
                font-weight: 600;
            }

            &:last-child {
                font-size: 20px;
            }
        }
    }
}


.innumbers {
    background: #14273C;

    .container {
        display: flex;
        align-items: center;
        padding-top: 125px;
        padding-bottom: 125px;

        .title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 60px;
            line-height: 73px;

            color: #FFFFFF;
            flex-grow: 1;

        }

        .line {
            height: 51px;
            width: 2px;
            background: #ffffff93;
            margin-right: 48px;
            margin-left: 48px;

            &:last-child {
                margin-right: 0;
            }
        }

        .pointer {
            background: linear-gradient(90deg, #D63C16 0%, #F08500 100%);
            width: 12px;
            height: 12px;
            border-radius: 120%;
            margin-bottom: 15px;
        }

        .number {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 88px;
            /* identical to box height */

            letter-spacing: 0.06em;
            text-transform: uppercase;

            color: #FFFFFF;
            margin-bottom: 15px;
        }

        .sign {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height, or 137% */


            color: #FFFFFF;
        }
    }
}


.navigation {
    padding-top: 130px;

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 100%;
        /* or 46% */


        color: #000000;
        margin-bottom: 90px;
        position: relative;
        &::before{
            content: '';
            width: 280px;
            height: 2px;
            background: #7e91a756;
            position: absolute;
            top: 50%;
            left: calc(-315px);
        }


    }

    .navigation_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div.block_item {
            &:hover {
                svg {
                    transform: rotate(90deg);
                }
            }
        }

        .block_item {
            display: flex;
            align-items: flex-end;
            width: calc(50% - 15px);
            margin-bottom: 30px;
            position: relative;
            background: #14273C;
            min-height: 130px;
            cursor: pointer;

            svg {
                transition: 300ms ease;
            }

            &::after {
                content: "";
                position: absolute;
                height: 4px;
                background: linear-gradient(90deg, #D63C16 0%, #F08500 100%);
                width: 25%;
                left: 0;
                bottom: 0;
                transition: 300ms ease;
            }

            img {
                width: 25%;
                object-position: center;
                object-fit: cover;
                height: 100%;
            }

            &:hover {
                &::after {

                    width: calc(100% - 30px);

                }

                .navigation_subblock {
                    background: #14273C;
                    position: absolute;
                    top: calc(100% - 4px);
                    z-index: 2;
                    left: 0;
                    right: 0;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    transition: 300ms ease;
                    // transform: scaleY(100%);
                    opacity: 1;

                    .subtitle_item {
                        position: relative;
                        /* or 137% */
                        padding-left: 30px;
                        padding-right: 30px;
                        transition: 300ms ease;

                        &::before {
                            content: "";
                            background: linear-gradient(90deg, #D63C16 0%, #F08500 100%);
                            // width: 5px;
                            // height: 5px;
                            position: absolute;
                            top: calc(50% - 3.5px);
                            left: 0;


                            width: 0;
                            height: 0;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-left: 9px solid #d63c16;

                        }


                        a {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 22px;
                            color: #FFFFFF;
                            display: block;
                            border-bottom: 1px solid #ffffffa1;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            transition: 300ms ease;
                        }

                        &:last-child {
                            a {
                                border-bottom: none;
                            }
                        }
                    }

                }
            }

            .text_block {
                display: flex;
                flex-direction: column;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 24px;
                width: 100%;

                .sign {

                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */


                    color: #FFFFFF;
                    margin-bottom: 12px;
                }

                .item_name {
                    display: flex;
                    justify-content: space-between;

                    align-items: center;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    /* identical to box height */

                    letter-spacing: 0.06em;
                    text-transform: uppercase;

                    color: #FFFFFF;
                }
            }

            .navigation_subblock {
                background: #14273C;
                position: absolute;
                top: calc(100% - 4px);
                z-index: 2;
                left: 0;
                right: 0;
                // padding-top: 30px;
                // padding-bottom: 30px;
                transition: 300ms ease;
                // transform: scaleY(0);
                opacity: 0;

                .subtitle_item {
                    position: relative;
                    /* or 137% */
                    padding-left: 30px;
                    padding-right: 30px;
                    transition: 300ms ease;

                    &::before {
                        content: "";
                        background: linear-gradient(90deg, #D63C16 0%, #F08500 100%);
                        // width: 5px;
                        // height: 5px;
                        position: absolute;
                        top: calc(50% - 3.5px);
                        left: 0;


                        width: 0;
                        height: 0;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                        border-left: 9px solid #d63c16;

                    }


                    a {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: #FFFFFF;
                        display: block;
                        border-bottom: 1px solid #ffffffa1;
                        // padding-top: 10px; 
                        // padding-bottom: 10px; 
                        transition: 300ms ease;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &:last-child {
                        a {
                            border-bottom: none;
                        }
                    }
                }

            }
        }
    }
}


.last_news {
    padding-top: 130px;
    padding-bottom: 130px;

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 100%;
        /* or 46% */


        color: #000000;
        margin-bottom: 90px;
        position: relative;
        &::before{
            content: '';
            width: 280px;
            height: 2px;
            background: #7e91a756;
            position: absolute;
            top: 50%;
            left: calc(-315px);
        }
    }

    .last_news_block {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .block_item {
            max-width: calc(25% - 30px);
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            margin-left: 15px;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                object-position: center;
                margin-bottom: 25px;
            }

            .date {
                margin-bottom: 15px;

                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;

                color: #7E91A7;
            }

            .news_title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                /* or 137% */


                color: #000000;
                margin-bottom: 24px;
            }


        }
    }

}

.more {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    text-decoration-line: underline;
    transition: ease 300ms;
    color: #D63C16;

    &:hover {
        text-decoration: none;
    }
}

.contacts {
    background: #14273C;
    padding-top: 100px;

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 22px;
        /* or 46% */


        color: #FFFFFF;

        margin-bottom: 60px;
        position: relative;

            &::before {
                content: '';
                width: 280px;
                height: 2px;
                background: rgba(255, 255, 255, 0.36);
                position: absolute;
                top: 50%;
                left: calc(-315px);
            }
    }

    .pointer {
        background: linear-gradient(90deg, #D63C16 0%, #F08500 100%);
        width: 12px;
        height: 12px;
        border-radius: 120%;
        margin-bottom: 30px;
    }

    .conctact_block {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
        border-bottom: 1px solid #ffffffa1;

        .sign,
        a {
            font-family: Montserrat;
            font-style: normal;

            font-size: 16px;
            line-height: 20px;
            /* identical to box height */

            letter-spacing: 0.06em;

            color: #FFFFFF;
        }
    }

}

.callback {
    background: #14273C;


    .container {
        border-bottom: 1px solid #ffffffa1;
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .title {
        font-family: Montserrat;
        font-style: normal;

        font-size: 36px;
        line-height: 22px;
        /* or 61% */


        color: #FFFFFF;
        margin-bottom: 60px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        input {
            width: calc(25% - 30px);
            margin-right: 15px;
            margin-left: 15px;
            height: 80px;
            padding-left: 30px;
        }

        .button_wrapper {
            width: calc(25% - 30px);

            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            /* or 150% */


            /* 4 */

            color: #FFFFFF;

            .sign {
                margin-top: 18px;
            }

            a {

                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                /* or 150% */


                /* 4 */

                color: #FFFFFF;

            }

            button {
                width: 100%;

            }
        }
    }
}

.active_btn {
    height: 80px;
    background: #D63C16;
    outline: none;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    transition: 300ms ease;
    position: relative;
    overflow: hidden;

    &:hover {
        background: #F08500;

    }

    &:active {
        background: #F08500;
    }

    &::after {

        content: "";
        display: block;
        width: 30px;
        height: 200px;
        margin-left: 60px;
        background: hsla(0, 0%, 100%, .7);
        filter: blur(20px);
        position: absolute;
        left: -116px;
        top: -78px;
        z-index: 1;
        transform: rotate(30deg);
        transition: all .1s;
        -webkit-animation-name: blink;
        animation-name: blink;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-delay: 3.05s;
        animation-delay: 3.05s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

    }
}

@keyframes blink {
    0% {
        left: -30px;
        margin-left: 0
    }

    20% {
        left: 110%;
        margin-left: 80px
    }

    to {
        left: 110%;
        margin-left: 80px
    }
}


footer {
    background: #14273C;
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;



        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff73;

        a.footer_item {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #ffffffa8;
            text-decoration: underline;


        }

        .logo_block {
            display: flex;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;

            color: #FFFFFF;

            svg {
                margin-right: 30px;
            }

            .logo_sign {
                text-decoration: unset;
            }

        }
    }
}



@media screen and (max-width:1400px) {
    .container {
        max-width: 1200px;
    }
    section.manager .container_left{
        padding-left: calc(50% - 600px);
    }
    .container_left {
        margin-right: calc(50% - 600px);
        width: calc(50% + 600px);
    }

    .container_right {
        margin-left: calc(50% - 600px);
        width: calc(50% + 600px);
    }

    .innumbers .container .number {
        font-size: 60px;
    }

    .navigation .navigation_block .block_item .text_block .item_name {
        font-size: 16px;
    }
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 90%;
    }
    section.manager .container_left{
        padding-left: 5%;
    }

    section.contacts.filial .container{
        flex-direction: column;
        .map{
            width: 100%;
        }
    }
    section.manager .container_left{
        flex-direction: column-reverse;
        .manager_block{
            margin-right: 0;
        }
        .manager_block{
            margin: auto;
        }
        .position:before{
            display: none;
        }
        .title{
            margin-bottom: 30px;
            br{
                // display: none;
            }
        }
    }
    section.content.filial img, section.information img{
        height: 400px;
    }
    .container_left {
        margin-right: 5%;
        max-width: 95%;
    }

    .container_right {
        // margin: auto;
        // max-width: 90%;
        margin-left: 5%;
        max-width: 95%;
    }

    section.news.products {
        .products_block .products_item{
            width: calc(50% - 30px);
      
        }
    }

    header {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .menu_hiden {
        left: 0;
        padding-top: 60px;

        menu {
            margin-top: 15px;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    .main {
        height: 500px;
    }

    .main .block_pagination {
        bottom: 0;
    }

    .main .swiper-slide .text_part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 60px;
        width: 47%;
    }

    .swiper-pagination,
    .swiper-button-next,
    .swiper-button-prev {
        margin-top: 0;
    }

    .main .swiper-slide .img_part {
        width: 47%;
    }

    .main .swiper-slide .text_part {
        .title {
            font-size: 29px;
            line-height: 150%;
            position: relative;
            &::before{
                content: '';
                width: 280px;
                height: 2px;
                background: #7e91a756;
                position: absolute;
                top: 50%;
                left: calc(-315px);
            }
        }

        .subtitle {
            font-size: 19px;
            line-height: 130%;
        }

    }

    .innumbers .container {
        padding-top: 75px;
        padding-bottom: 75px;

        .line {
            margin-right: 25px;
            margin-left: 25px;
        }

        .title {
            font-size: 38px;
            line-height: 150%;
        }

        .number {
            font-size: 38px;
            line-height: 150%;
        }
    }

    .last_news .last_news_block .block_item {
        max-width: calc(50% - 30px);
        margin-bottom: 30px;
    }

    section.products.filial .products_block .products_item{
        margin-bottom: 30px;
    }
    .contacts .conctact_block {
        flex-wrap: wrap;
        padding-bottom: 60px;

        .contact_item {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .callback {
        .title {
            line-height: 120%;
            font-size: 30px;
        }

        .container {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        form {
            input {
                width: calc(50% - 30px);
                margin-bottom: 30px;
            }

            .button_wrapper {
                width: calc(50% - 30px);
                margin-left: 15px;
                margin-right: 15px;
            }
        }


    }

}


@media screen and (max-width:900px) {

    .navigation .navigation_block {
        .block_item {
            width: 100%;
        }
    }
    section.manager .title{
        font-size: 38px;
        line-height: 130%;
    }
    section.contacts.filial .container .conctact_block .contact_item{
        margin-bottom: 15px;
    }
    section.manager .container_left{
        padding-left: 0;
        .title{
            text-align: center;
        }
    }
    .manager .container_left .avatar img{
        margin: auto;
        margin-bottom: 60px;
    }
    footer .container {
        flex-wrap: wrap;

        .logo_block,
        .footer_item {
            width: 100%;
            margin-bottom: 30px;
        }

        .logo_block {
            margin-bottom: 60px;
        }
    }
    section.contacts.filial .container{
        // border-bottom: none;
    }
    section.contacts.filial .container .map{
        height: 340px;
    }
    .innumbers .container {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;

        .title {
            div{
                display: inline;
            }
            br {
                // display: none;

            }
        }

        .line {
            height: 2px;
            width: 90px;
            margin-right: 0;
            margin-left: 0;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .item_numbers {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 350px;
        }
    }

    .innumbers .container .number,
    .innumbers .container .title {
        font-size: 30px;
    }

    .navigation {
        padding-top: 60px;

        .title {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }

    .last_news {
        padding-top: 60px;
        padding-bottom: 60px;

        .title {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }

    .contacts {
        padding-top: 60px;
        padding-bottom: 60px;

        .title {
            font-size: 30px;
            margin-bottom: 40px;

            
        }

        .conctact_block {
            padding-bottom: 30px;
        }
    }

    .callback .container {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .callback .title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .callback form .button_wrapper .sign {
        br {
            display: none;
        }
    }

    .main {
        height: auto;

        .swiper-slide {
            flex-direction: column-reverse;

            .img_part {
                width: 100%;
                height: 300px;
                img{
                    margin: auto;
                }
            }

            .text_part {
                width: 100%;
                padding-bottom: 80px;

                .title {
                    br {
                        // display: none;
                    }

                    margin-top: 15px;
                    margin-bottom: 10px;
                }

            }
        }

    }

    .container_left,
    .container_right {
        width: 90%;
        margin: auto;
    }

}

@media screen and (max-width:700px) {
    .callback form {
        margin-right: 0;
        margin-left: 0;

        input {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

        .button_wrapper {
            margin: auto;
            width: 300px;
        }
    }

    .last_news .last_news_block {
        margin-right: 0;
        margin-left: 0;

        .block_item {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            max-width: unset;
        }
    }

    .main {

        padding-bottom: 15px;
    }

    .menu_hiden .item_menu {
        padding-left: 30px;
    }

    .menu_hiden .item_wrapper:before {
        left: -30px;
    }

    header .logo_block svg {
        width: 100px;
    }

    header .logo_block {
        font-size: 11px;
        line-height: 120%;
    }

    header .logo_block {
        flex-direction: column;
    }

    footer .container .logo_block {
        flex-direction: column;

        svg {
            margin-bottom: 10px;
        }
    }

    .menu_hiden menu {
        height: auto;
    }

    header .burger_menu .burger_sign {
        display: none;
    }

    .innumbers .container .item_numbers {
        flex-direction: column;
    }

    .innumbers .container .line {
        margin-top: 35px;
        margin-bottom: -6px;
    }
}


.main_inner {
    background: #14273C;
    padding-top: 50px;
    padding-bottom: 60px;

    .breadcrumbs {
        display: flex;
        align-items: center;
        padding-bottom: 65px;

        .breadcrumb_item {
            font-family: Montserrat;
            font-style: normal;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-decoration-line: underline;

            color: #FFFFFF;

            &.breadcrumb_curent {
                text-decoration: none;
            }

        }

        .splitter {
            background: rgba(255, 255, 255, 0.36);
            width: 1px;
            height: 24px;
            margin-right: 12px;
            margin-left: 12px;
        }
    }

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;

        color: #FFFFFF;
        position: relative;

        &::before {
            content: '';
            width: 280px;
            height: 2px;
            background: rgba(255, 255, 255, 0.36);
            position: absolute;
            top: 50%;
            left: calc(-315px);
        }
    }
}

h2,
h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */


    color: #000000;
    margin-bottom: 25px;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    color: #000000;

}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    margin-bottom: 20px;
    color: #000000;
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    margin-bottom: 15px;

    color: #000000;

}

h5,
h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}

ul {
    padding-left: 20px;

    // list-style-image:  #D63C16;
    li {
        &::marker {
            color: #D63C16;
        }
    }
}

ol {
    padding-left: 20px;
}

li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    color: #000000;
}

.content {
    padding-top: 70px;

    h2,
    h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */


        color: #000000;
        margin-bottom: 25px;
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */


        color: #000000;

    }

    h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        /* identical to box height */

        margin-bottom: 20px;
        color: #000000;
    }

    h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        margin-bottom: 15px;

        color: #000000;

    }

    h5,
    h6 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */


        color: #000000;
    }

    ul {
        padding-left: 20px;

        // list-style-image:  #D63C16;
        li {
            &::marker {
                color: #D63C16;
            }
        }
    }

    ol {
        padding-left: 20px;
    }

    li {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */


        color: #000000;
    }

    img {
        // float: left;
        // margin: 0 30px 0 0;
        max-width: 100%;
        width: 100%;
        height: 490px;
        object-fit: cover;
        object-position: center;
        // border-radius: 6px;
        margin-bottom: 30px;
    }

}


table {
    overflow: hidden;
    width: 100%;
    // border-radius: 6px;
    border-collapse: collapse;
    margin-top: 60px;
    margin-bottom: 60px;

    tbody {
        //   border-radius: 6px;
        width: 100%;
    }

    tr {
        border-bottom: 1px solid #EBEBEB;

        &:hover {
            td {
                background: #4b80e34d;
            }

            //  background: #4B7FE3;
        }

        &:last-child {
            border: none;
        }
    }

    tr:nth-child(even) {
        td {
            background: #F6FAFF;
        }
    }

    tr:nth-child(odd) {
        td {
            background: #EBF0F7;
        }
    }

    tr:first-child>td {
        background: #14273B;
        padding: 25px 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120.2%;
        /* or 19px */


        color: #FFFFFF;

        &:first-child {
            // border-radius: 6px 0 0 0;
        }

        &:last-child {
            // border-radius: 0 6px 0 0;
        }


    }

    tr>td {
        transition: 300ms ease;
        padding: 15px 40px 15px 40px;
        //   background: #F8F8FA;




        &:first-child {
            padding-top: 30px;
        }

        &:last-child {
            padding-bottom: 30px;
        }
    }
}


.gallery {
    margin-bottom: 80px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .gallery_item {
            width: calc(25% - 30px);
            margin-right: 15px;
            margin-left: 15px;
            position: relative;
            margin-bottom: 30px;

            >img {
                object-fit: cover;
                object-position: center;
            }

            &:hover {
                .hover_block {
                    opacity: 1;
                }
            }

            .hover_block {
                opacity: 0;
                background: #14273b5d;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 300ms ease;

            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .main_inner .title {
        font-size: 50px;
        line-height: 130%;
    }
    .content img{
        height: 400px;
    }
    .gallery .wrapper {
        .gallery_item {
            width: calc(33.333% - 30px);

            >img {
                width: 100%;
            }
        }
    }

    h1,
    h2,
    .content h1,
    .content h2 {
        font-size: 38px;
        line-height: 130%;
    }

    h3,
    .content h3 {
        font-size: 25px;
        line-height: 130%;
    }

    h4,
    h5,
    h6,
    .content h4,
    .content h5,
    .content h6 {
        font-size: 20px;
        line-height: 130%;
    }

    .content {
        padding-top: 40px;
    }

    table {

        overflow-x: scroll;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;

        tbody {
            width: 1075px;
            display: block;
        }
    }

}

@media screen and (max-width: 900px) {
    .gallery .wrapper {
        .gallery_item {
            width: calc(50% - 30px);
        }
    }
    .content img{
        height: 300px;
    }


}

@media screen and (max-width: 700px) {
    .gallery {
        margin-bottom: 40px;
    }

    .content img {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .gallery .wrapper {
        .gallery_item {
            width: calc(50% - 30px);
        }
    }

    .main_inner .breadcrumbs {
        padding-bottom: 30px;
    }

    .main_inner .title {
        font-size: 30px;
    }

    .gallery .wrapper .gallery_item {
        width: 100%;

    }

    .callback {
        padding-top: 15px;
    }

    .main_inner {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.tabs {
    padding-top: 60px;

    .tabs_block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 56px;

        .tab_item {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height, or 157% */


            color: #FFFFFF;
            background: #7E91A7;
            padding: 8px 16px 10px;
            margin-right: 30px;
            margin-bottom: 14px;
            transition: 300ms ease;

            &:hover {
                background: #14273B;
            }

            &.active {
                background: #14273B;
            }
        }

    }
}
.news.products {
    .products_block .products_item{
        width: calc(25% - 30px);
        img{
            height: 200px;
        }
        .item_row{
            justify-content: space-between;
        }
    }
}
.products {
    .title{
        font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 22px;
/* or 46% */


color: #000000;
margin-bottom: 85px;
position: relative;

            &::before {
                content: '';
                width: 280px;
                height: 2px;
                background: #7e91a756;
                position: absolute;
                top: 50%;
                left: calc(-315px);
            }
    }
    .products_block {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .products_item {
            width: calc(33.333%);
            width: calc(33.333% - 30px);
            margin-right: 15px;
            margin-left: 15px;

            img {
                margin-bottom: 18px;
                width: 100%;
                object-fit: cover;
                object-position: center;
                height: 275px;
            }

            .item_row {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                flex-wrap: wrap;
                margin-bottom: 14px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                /* or 137% */


                color: #000000;
            }

            .item_tab {
                color: #FFFFFF;
                background: #7E91A7;
                padding: 4px 12px 6px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 22px;
                margin-right: 10px;
                /* identical to box height, or 183% */


                color: #FFFFFF;
            }

            .item_date {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;

                color: #7E91A7;
            }

            .item_title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                /* or 137% */


                color: #000000;
            }

            margin-bottom: 55px;
        }
    }
}

.pugination {
    margin-top: 65px;
    margin-bottom: 140px;

    .pagination_block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .button_next,
    .button_prev {
        width: 60px;

        height: 60px;

        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #7e91a7;

        &.active {
            background: #14273b;
        }
    }

    .button_next {
        margin-left: 16px;
    }

    .button_prev {
        margin-right: 16px;
    }

    .page {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #7E91A7;
        margin-right: 14px;
        margin-left: 14px;

        &.active {
            color: #000000;
        }
    }
}

@media screen and (max-width: 1050px) {
    .products .products_block .products_item {
        width: calc(50% - 30px)
    }

}

@media screen and (max-width: 700px) {
    .products .products_block .products_item {
        width: 100%;
    }

    .pugination {
        margin-top: 20px;
        margin-bottom: 40px;
    }

}


.map_contacts {
    padding-top: 10px;
    padding-bottom: 50px;

    .map_row {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .filial_info {
            display: flex;
            flex-direction: column;
            width: calc(50% - 15px);

            .filial_number {
                font-family: Montserrat;

                font-style: normal;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 35px;

                color: #000000;
                position: relative;

            &::before {
                content: '';
                width: 280px;
                height: 2px;
                background: #7e91a749;
                position: absolute;
                top: 50%;
                left: calc(-315px);
            }
            }

            .filial_name {
                font-family: Montserrat;

                font-style: normal;
                font-style: normal;
                font-weight: bold;
                font-size: 27px;
                line-height: 34px;

                color: #000000;
                margin-bottom: 36px;
            }

            .filial-text {
                font-family: Montserrat;
                font-style: normal;

                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.06em;

                color: #000000;

                p {
                    margin-bottom: 15px;
                }
            }
        }

        .map {
            width: calc(50% - 15px);
            height: 390px;
        }
    }
}


@media screen and (max-width:1050px) {
    .map_contacts .map_row {
        flex-direction: column;

        .filial_info {
            width: 100%;
        }

        .map {
            width: 100%;
        }
    }

}

@media screen and (max-width:700px) {


    section.news.products {
        .products_block .products_item{
            width: 100%;
      
        }
    }
    .map_contacts .map_row {

        margin-top: 30px;

        .filial_info {

            .filial_number {
                font-size: 27px;
                line-height: 30px;
            }

            .filial_name {
                font-size: 26px;
                line-height: 29px;
            }
        }

    }

}
.content.filial{
img{
    margin-right: 0;
    width: 100%;
    height: 590px;
    margin-bottom: 36px;
}

}
.last_news.filial{
    padding-top: 130px;
    padding-bottom: 0;
}
.contacts.filial{
    margin-top: 130px;
    .container{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid hsla(0,0%,100%,.6313725490196078);
        padding-bottom: 100px;
        .conctact_block{
            flex-direction: column;
            border-bottom: none;
            .contact_item{
                margin-bottom: 45px;
            }
        }
        .map{
            width: calc(50% - 30px);
            height: 390px;
        }
    }
}


.products.filial {
    .products_block .products_item{
        margin-bottom: 0;
    }
}
.main_inner.filial {
    

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;

        color: #FFFFFF;

    }

}

.manager {
    margin-top: 60px;

    .container_left {
        background: #14273C;
        display: flex;
        padding-left: calc(50% - 645px);
        padding-top: 60px;
        padding-bottom: 55px;
        
        .manager_block{
            margin-right: 120px;
        }
        .avatar {
            img {
                border-radius: 120%;
                object-position: center;
                object-fit: cover;
                margin-bottom: 60px;
            }

           
        }
        .name {
            font-family: Montserrat;
            font-style: normal;

            font-size: 16px;
            line-height: 22px;
            /* or 137% */
            color: #FFFFFF;

            margin-bottom: 24px;


        }
        .position{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height, or 137% */


            color: #7E91A7;
            position: relative;

            &::before {
                content: '';
                width: 280px;
                height: 2px;
                background: rgba(255, 255, 255, 0.36);
                position: absolute;
                top: 50%;
                left: calc(-315px);
            }

        }
    }
    .title{
        font-family: Montserrat;
font-style: normal;
// font-weight: bold;
font-size: 48px;
line-height: 59px;

color: #FFFFFF;
    }
}

.information{
    padding-top: 60px;
    padding-bottom: 55px;
    .subtitle{
        font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #000000;
margin-bottom: 18px;
    }
    img{
        width: 100%;
        height: 590px;
        margin-bottom: 35px;
    }
    .information_text{
        margin-bottom: 35px;
        font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* or 137% */


color: #000000;
    }
}

